dist/
dist-gh/
target/
.bin/
.bin
.gha/
completions/
manpages/
.cache/
*.html
.DS_Store
flamegraph.svg
profile.json
dhat-heap.json
tools/thirdparty/.failed-lint
ghrelease.md
tools/node/node_modules/
.devcontainer/.devpod-internal/
