*

!*/
!../../*/

!../../**/*.css
!../../**/*.htm
!../../**/*.html
!../../**/*.js
!../../**/*.json
!../../**/*.jsx
!../../**/*.md
!../../**/*.scss
!../../**/*.ts
!../../**/*.toml
!../../**/*.tsx
!../../**/*.xaml
!../../**/*.yaml
!../../**/*.yml
../../.cache/**
../../dist/**
../../dist-gh/**
../../target/**
../../test/utils/target/**
../../.bin/**
../../.gha/**
