on: [push, pull_request]

name: ci

jobs:
  test_coverage:
    name: oatmeal (ubuntu-latest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ".bin"

      - name: Install deps
        run: |
          cargo install cargo-run-bin
          cargo binstall --help >/dev/null
      - name: Setup nightly
        run: cargo cmd setup-nightly
      - name: Lint
        run: cargo cmd lint
      - name: Test
        run: |
          cargo build
          cargo cmd test-coverage-lcov
          ./target/debug/oatmeal --help
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info

  test:
    name: oatmeal
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ".bin"
      - name: Install deps
        run: |
          cargo install cargo-run-bin
      - name: Test
        run: |
          cargo build
          cargo nextest run
      - name: Validate binary runs
        if: matrix.os != 'windows-latest'
        run: ./target/debug/oatmeal --help
      - name: Validate binary runs
        if: matrix.os == 'windows-latest'
        run: .\target\debug\oatmeal.exe --help
